html {
    height: 100%;
}

body {
    background-image: url('http://img01.deviantart.net/65b1/i/2005/143/8/a/wood_texture_by_reaperofblood.jpg');
    height: 100%;
}

body .container-fluid {
    height: 80%;
}

.btn-google {
    margin-top: 10px;
}

.landing-card {
    background-color: #76bdd5;
    padding: 60px;
    float: center;
}

.home-logo {
    padding: 40px 0;
}

#signUpForm {
    background: none;
    border: none;
}

#signUpForm {
    background: none;
    border: none;
}

#loginForm {
    background: none;
    border: none;
}

.form-error {
    color: red;
}

#signUpShower {
    margin-bottom: 10px;
}

#LoginShower {
    margin-bottom: 10px;
}

.center {
    margin: auto;
    padding: 10px;
}

#main-loading-message {
    color: black;
}

#main-content, #main-panel, #wrapper {
    height: 100%;
}

#search-input-group {
    padding: 15px;
}

#profile-pic {
    margin-top: 10px;
    height: 60px;
}

#profile-pic:hover {
    cursor: pointer;
}

#chatbox-wrapper {
    height: 100%;
}

#left-chatbox {
    height: 100%;
}

#left-chatbox .tabs {
    height: 100%;
}

#left-chatbox .tab-content {
    height: 100%;
    border-radius: 5px;
}


#left-chatbox .tab-content>.active{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.chatbox-top-stats-wrapper {
    border-radius: 5px;
    flex: 0 1 auto;
    display: block;
}

.chatbox-top-stats a{
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

#filter-game-type {
    margin-top: 10px;
    margin-bottom: 10px;
}

.chatbox-message-list-wrapper {
    flex: 0 1 auto;
    margin: 5px;
    height: 100%;
}

#chat-list {
    flex: 0 1 auto;
    height: 100%;
}

.chatbox-chatroom-list {
    display: block;
    overflow-y: auto;
}

.chatbox-message-list {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.chatbox-input-send-wrapper {
    flex: 0 1 auto;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #d6d6d6;
    display: block;
}

.chatbox-message-list .list-group-item {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 4px;
    border-radius: 10px;
    background-color: #e6e6e6
}

.chatbox-message-list .list-group-item .list-group-item-text {
    word-wrap: break-word;
    overflow: auto;
}

.chatbox-message-list::-webkit-scrollbar {
    width: 1em;
}

.chatbox-message-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.chatbox-message-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.chatbox-message-list .list-group-item {
    padding: 5px 4px;
    min-height: 50px;
}

.chatbox-message-list .float-xs-left{
    width: 55px;
    text-align: center;
}

.msg-pic {
    max-width: 40px;
    max-height: 40px;
}

.msg-pic:hover {
    cursor: pointer;
}

/* NAV TABS FULL WIDTH OF PARENT FIX */
.nav-justified {
  width: 100%;
  overflow-y: auto;
}
  .nav-justified .nav-item {
    float: none; }
  .nav-justified .nav-link {
    text-align: center;
    margin-bottom: 5px; }
  .nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto; }
  @media (min-width: 544px) {
    .nav-justified .nav-item {
      display: table-cell;
      width: 1%; }
    .nav-justified .nav-link {
      margin-bottom: 0; } }
  .nav-justified .nav-link {
    margin-right: 0;
    border-radius: 0.25rem; }
  .nav-justified .nav-link.active,
  .nav-justified .nav-link.active:hover,
  .nav-justified .nav-link.active:focus {
    border: 1px solid #ddd; }
  @media (min-width: 544px) {
    .nav-justified .nav-link {
      border-bottom: 1px solid #ddd;
      border-radius: 0.25rem 0.25rem 0 0; }
    .nav-justified .nav-link.active,
    .nav-justified .nav-link.active:hover,
    .nav-justified .nav-link.active:focus {
      border-bottom-color: #fff; } }
  /*---------------------------------------------*/


  /*----------BOOTSTRAP CLOSE TAB----------------*/
  .nav-tabs > li .close {
      margin: -2px 0 0 10px;
      font-size: 18px;
  }


.table-responsive {
    display: table;
    width: 100%;
    overflow-x: scroll;

}

/*--------------------------------------------*/
.table-curved {
    border-collapse: collapse;
}
.table-curved {
    border-radius: 3px;
    border-left:0px;
}
.table-curved td, .table-curved th {
}
.table-curved th {
    border-top: none;
}
.table-curved th:first-child {
    border-radius: 3px 0 0 0;
}
.table-curved th:last-child {
    border-radius: 0 3px 0 0;
}
.table-curved th:only-child{
    border-radius: 3px 3px 0 0;
}
.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 3px;
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 3px 0;
}
/*---------------------------------------------*/

#start-game-btns .btn {
    margin-bottom: 15px;
    margin-left: 1px;
    margin-right: 1px;
}

tr:hover {
    cursor: pointer;
    background-color: #d5d5d5;
}


.nav-link {
    background-color: #d6d6d6;
}

.fa-stack {
    color: black;
}

.fa-stack:hover {
    cursor: pointer;
}

.voice-chat-enable-disable {
    margin-top: 15px;
}

.private-game-option {
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 15px;
    float: right;
}

.private-game-option-label {
    float: left;
    margin-top: 10px;
    display: inline;
    margin-bottom: none;
}

#time-ads-column {
    padding-top: 50px;
    margin-right: -15px;
    margin-left: 0px;
    padding-left: 0px;
}

.player-card {
    border: none;
    border-radius: 5px;
}

.player-card .card-block {
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 15px;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 5px;
}

.player-card .card-block .row {
    overflow-x: hidden;
}

.player-card .card-block .row .card-text {
    padding-left: 5px;
}

.player-card .black-player {
    background-color: black;
    color: white;
}

.player-card .red-player {
    background-color: red;
    color: white;
}

.player-card .gold-player {
    background-color: gold;
    color: black;
}

.chat-room-item:hover {
    cursor: pointer;
    background-color: #e5e5e5;
}

.player-img {
    margin-top: 7px;
    max-height: 50px;
}
